body {
    direction: rtl;
}
.container {
    margin: auto;
    width: 900px;
    height: auto;
}
#menu {
    display: inline-block;
}
#header {
    background-color: rgb(177, 177, 177);
}
#menuList > li {
    display: inline-block;
    margin: 0 6px;
}
#menuList{
    list-style: none;
}
#menu a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
nav#menu a:hover {
    text-decoration: underline;
    color: #005CA0 ;
}
#search_and_language {
    position: absolute;
    top: 16px;
    left: 40px;
}
#search_and_language > *{
    display: inline-block;
    padding: 0;
    margin: 0;
}
#search_and_language a {
    height: 19px;
    top: 1px;
    position: absolute;
}
#searchBox {
    margin-right: 65px;
}
#logo {
    display: inline-block;
    position: relative;
    top: 35px;
}
#header > .container {
    position: relative;
}
.category {
    position: relative;
}
.subMenu {
    padding: 0 2px;
    list-style: none;
    display: none;
    position: absolute;
    top: 25px;
    right: 0px;
    background-color: rgb(177, 177, 177);
}
.category:hover > .subMenu {
    display: list-item;
    
}
.subCategory {
    padding: 3px 0;
    border-bottom: 1px black solid;
}
#row_a, #row_b {
    display: flex;
}
#row_a{
    align-items: flex-end;
    margin-top: 20px;
}
#row_a > .column:first-child{
    width: 291px;
    height: 354px;
    background-image: url("1908364606615453350.JPG");
}
#row_a > .column:first-child + div{
    width: 291px;
    height: 354px;
    background-image: url("Picture-046410251500.jpg");
}
#row_a > .column:last-child {
    width: 291px;
    height: 354px;
    background-image: url("פזקר_-291_354410564000.jpg");
}
#row_a > .column:not(:last-child) {
    margin-left: 20px;
}
.textBox {
    color: #fff;
    background-color: lightgrey;
}
#footer {
    background-color: rgb(177, 177, 177);
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 38px;
}
#footer a {
    text-decoration: none;
    color: #fff;
}
#footer a:hover {
    text-decoration: underline;
    color: #005CA0 !important;
}
#footer .container {
    padding-top: 10px;
}
#footer .separate {
    color: #fff !important;
}
#facebook_icon {
    position: relative;
    top: 4px;
}
#footer span:last-child a{
    color: red !important;
}