body {
    direction: rtl;
}
.container {
    margin: auto;
    width: 900px;
    height: auto;
}
#menu {
    display: inline-block;
}
#header {
    background-color: rgb(177, 177, 177);
}
.separate > img {
    height: 21px;
    width: 2px;
}
#menuList > li {
    display: inline-block;
    margin: 0 6px;
}
#menuList{
    list-style: none;
}
#menu a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
nav#menu a:hover {
    text-decoration: underline;
    color: #005CA0 ;
}
#search_and_language {
    position: absolute;
    top: 16px;
    left: 0px;
}
#search_and_language > *{
    display: inline-block;
    padding: 0;
    margin: 0;
}
#search_and_language a {
    height: 19px;
    top: 1px;
    position: absolute;
}
#searchBox {
    margin-right: 65px;
}
#logo {
    display: inline-block;
    position: relative;
    top: 35px;
}
#header > .container {
    position: relative;
}
.category {
    position: relative;
}
.subMenu {
    padding: 0 2px;
    list-style: none;
    display: none;
    position: absolute;
    top: 25px;
    right: 0px;
    background-color: rgb(177, 177, 177);
}
.category:hover > .subMenu {
    display: list-item;
    
}
.subCategory {
    padding: 3px 0;
    border-bottom: 1px black solid;
}
